/* TopicDoc.js */
/* .docNav {
    margin-top: 10px;
    width: 73vw;
    display: inline-block;
}

#metaDataButton {
    float: right;
    margin-top: 16px;
    padding: 8px 16px;

  }
  #metaDataButton:hover {
    background-color: var(--color1);
  } */
.docNav {
    float: left;
    height: 42px;
    position: relative;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.page-selector {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#docPage {
    margin: 50px 0px 0px 0px
}

#metaDataButton {
    float: right;
    margin-top: 16px;
    padding: 8px 16px;

}

#metaDataButton:hover {
    background-color: var(--color1);
}


/**** DocAccordion.js // Accordion Styling ****/
div.accordion div.collapse:not(.show) .card-body {
    display: none;
}

div.accordion div.collapse:not(.show) {
    display: block;
}

div.accordion .collapse.show .preview {
    display: none;
}

div.accordion div.collapse .preview {
    padding: 8px 16px;
}

div.accordion div.collapse.show {
    display: block;
    padding: 8px 16px;
}


/* DocCard.js */
div.accordion div.card-header {
    padding: 8px 16px;
    display: block;
    background-color: var(--color1)
}

div.accordion div.card-header:hover {
    background-color: var(--color1Dark);
}

div.accordion div.card {
    display: block;
    border: 2px solid var(--color1);
    border-bottom: 0px;
}

div.accordion div.card-body {
    padding: 0px;
    line-height: 1.25;
}

div.accordion div.card:last-child {
    border-bottom: 2px solid var(--color1);
}

div.accordion {
    display: block;
    position: relative;
    clear: right;
}

.collapsing {
    padding: 8px 16px;
}

/**** PageController.js // Pagination Styling ****/

.pagination a {
    color: black;
    text-decoration: none;
}

.pagination li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination li {
    display: inline-block;
    justify-content: center;
    border: 2px solid var(--color1);
    height: 110%;
    padding-bottom: 0;
}

.pagination li:not(.active) a, .pagination li:not(.active) span {
    display: inline-block;
    padding: 8px 16px;
}

.pagination li:hover:not(.active) {
    background-color: var(--color1);
}

.pagination li.page-item.active {
    background-color: var(--color2);
    color: white;
    text-decoration: none;
    border: 3px solid var(--color1);
    padding: 8px 16px;
}

.pagination li.page-item.active span.page-link {
    padding: 0px;
    background-color: var(--color2);
    border: none;
    z-index: 1;
}

.page-link {
    border: none;
    background-color: inherit;
}

.pagination li.page-item:not(.active) .page-link:hover {
    background-color: var(--color1);
    color: black;
    border: 1px solid var(--color1);
}

.pagination span.sr-only {
    display: none
}

.pagination {
    float: left;
    display: block;
    margin: 0px;
}
