body {
    font-family: Calibri, Verdana, sans-serif;
    background-color: var(--color3); 
    margin: 0;
    line-height: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

text { font-size: small; vertical-align: baseline; }
  