.page { 
    padding:10px 10px 25px; 
    background-color: var(--color3); 
    margin-top: 4px; 
    display: block; 
}

div.help { padding: 20px 100px 15px 30px; color: var(--color5); }



/* VocabTable.js */
table { 
    margin: 10px 10px 10px 10px; 
    border-collapse: collapse; 
    text-align: left; 
}
table th { 
    font-weight: normal; 
    padding: 10px 8px; 
    border-bottom: 2px solid black; 
}
table td { 
    text-align: left; 
    padding: 9px 8px 0px 8px; 
}

/* Uploader.js (duplicated in header.css) */
div.upload { 
    background-color: var(--color1); 
    /* float: right;  */
    padding-right: 20px; 
    border-radius: 10px; 
    margin: 5px; 
  }
div.upload div { margin: 8px; }

/* DLPage.js */
div#dl-page.page ul li {
    margin-bottom: 10px;
}

/* Correlation.js */
div#corr-page { display: block; }


/* /MetaData/MetaData.js */
.centerNotice {
    font-size: large;
    text-align: center;
}
  