body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**** Accordion Styling ****/
div.accordion div.collapse {
  display: none;
}

div.accordion div.collapse.show {
  display: block;
  padding: 8px 16px;
}


div.accordion div.card-header {
  padding: 8px 16px;
  display: block;
  /* border-bottom: 2px solid #ddd; */
}

div.accordion div.card-header:hover{background-color: #ddd;}

div.accordion div.card {
  display: block;
  border: 2px solid #ddd;
  border-bottom: 0px
}

div.accordion div.card:last-child {
  border-bottom: 2px solid #ddd;
}

div.accordion {
  display: block;
  position: relative;
}

/**** Pagination Styling ****/

.pagination a {
  color: black;
  text-decoration: none;
}

.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination li {
  display: inline-block;
  border: 2px solid #ddd;
}

.pagination li:not(.active) a {
  display: inline-block;
  padding: 8px 16px;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

.pagination li.page-item.active {
  background-color: #0066ff;
  color: white;
  text-decoration: none;
  border: 2px solid #ddd;
  padding: 8px 16px;
}

.pagination span.sr-only {
  display: none
}

.pagination {
  display: block;
}

