:root {
  /* --color1: #ddd;
  --color1Dark: #ccc;

  --color2: #0066ff;
  --color3: #FFFFFF;
  --color4: #ccc;
  --color5: #777; */
  --color1: #a9bcd0;
  --color1Dark: #9dafc2;
  
  --color2: #58a4b0;
  --color2Light: #9de2ec;

  --color3: #F6F8FD;
  --color3Dark: #d8dbe2;

  --color4: #373f51;
  --color5: #1b1b1e;
  
  --negativeCorrelationColor: #df6060;
  --positiveCorrelationColor: var(--color2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.docNav {
  float:right;
  height:42px;
}

#docPage {
  margin: 50px 15px 0px 0px
}

#metaDataButton {
  float: right;
  margin-top: 16px;
  padding: 8px 16px;

}
#metaDataButton:hover {
  background-color: var(--color1);
}

/**** Accordion Styling ****/
div.accordion div.collapse:not(.show) .card-body{
  display: none;
}

div.accordion div.collapse .preview{
  padding: 8px 16px;
}

div.accordion div.collapse.show {
  display: block;
  padding: 8px 16px;
}

div.accordion .collapse.show .preview {
  display: none;
}


div.accordion div.card-header {
  padding: 8px 16px;
  display: block;
  background-color: var(--color1)
}


div.accordion div.card-header:hover{background-color:var(--color1Dark);}

div.accordion div.card {
  display: block;
  border: 2px solid var(--color1);
  border-bottom: 0px
}

div.accordion div.card:last-child {
  border-bottom: 2px solid var(--color1);
}

div.accordion {
  display: block;
  position: relative;
  clear: right;
}

/**** Pagination Styling ****/

.pagination a {
  color: black;
  text-decoration: none;
}

.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
}

.pagination li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  text-decoration: none;
  border: 2px solid var(--color1);
  height:100%;
}

.pagination li:hover:not(.active) {background-color: var(--color1);}

.pagination li.page-item.active {
  background-color: var(--color2);
  color: white;
}

.pagination span.sr-only {
  display: none
}

.pagination {
  float: left;
  display: block;
  margin:0px;
}

.lightButton { 
  border: solid var(--color1) 2px; 
  font-family: Calibri, Verdana;
  /* margin:0 2px 0 0;  */
  padding:7px 10px; 
  -webkit-user-select: none; -moz-user-select: none; user-select: none; -moz-border-radius: 4px; 
  border-radius: 4px; 
  background: var(--color3); }

  .lightButton:hover:enabled{
    background: var(--color1); 
  }

.darkButton { 
  border: solid var(--color1Dark) 2px; 
  /* margin:0 2px 0 0;  */
  /* padding:7px 10px;  */
  -webkit-user-select: none; -moz-user-select: none; user-select: none; -moz-border-radius: 4px; 
  border-radius: 4px; 
  background: var(--color3); }

  .darkButton:hover:enabled{
    background: var(--color1); 
  }

.centerNotice {
  font-size: large;
  text-align: center;
}
.topForm {
  margin-bottom: 0px;
  margin-left: 10px;
}

.labeledToggleButton {
  border: solid var(--color1);
  padding: 0px 10px;
  border-width: 2px;
  background: var(--color3);
}


body { font-family: Calibri, Verdana; background-color: var(--color3); }

div.top { 
  background-color: var(--color1); 
  margin: 5px; 
  padding: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
  display: flex;
  justify-content: space-between;
}
div.top #num_topics_control { float:right; }

div.upload { background-color: var(--color1); float: right; padding-right: 20px; border-radius: 10px; margin: 5px; }
div.upload div { margin: 8px; }


div#topics div { color:var(--color4); margin-bottom: 1px; padding: 1px; cursor: default;}
div#topics div.selected { border-right: solid black 2px; font-weight: bold; }
div#topics:hover { background-color: var(--color4); color: var(--color3); border-radius: 10px; }

.tabs{ height: auto; }
.tabs > ul { font-size: 1em; list-style: none; }
.tabs > ul > li { border: solid var(--color1) 2px; margin:0 2px 0 0; padding:7px 10px; display:block; float:left; color:#333; -webkit-user-select: none; -moz-user-select: none; user-select: none; -moz-border-radius: 4px; border-radius: 4px; background: var(--color3); }
.tabs > ul > li:hover { background: var(--color1); cursor:pointer; }
.tabs > ul > li.selected { background: var(--color1); cursor:pointer; font-weight: bold; }
.tabs > ul > li.selected:hover { color: #000; }

#vocab-tab  { float: right; }
#dl-tab { float: right; }

div.help { padding: 20px 100px 15px 30px; color: var(--color5); }

.page { padding:10px 10px 25px; background-color: var(--color3); margin-top: 4px; display: block; }

div.document { font-family: Alegreya, Georgia, Times; margin: 20px; padding: 10px; }

text { font-size: small; vertical-align: baseline;; }

table { margin: 10px 10px 10px 10px; border-collapse: collapse; text-align: left; }
table th { font-weight: normal; padding: 10px 8px; border-bottom: 2px solid black; }
table td { text-align: left; padding: 9px 8px 0px 8px; }

#tooltip { border: solid var(--color1) 2px; margin:0 2px 0 0; padding:7px 10px; border-radius: 4px; background: var(--color3); position: absolute; z-index: 10; visibility: hidden; }


.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.configButton { 
  border: solid var(--color1) 2px; 
  font-family: Calibri, Verdana;
  float: right;
  padding:7px 10px; 
  -webkit-user-select: none; -moz-user-select: none; user-select: none; -moz-border-radius: 4px; 
  border-radius: 4px; 
  background: var(--color3);
}

.configButton:hover:enabled{
    background: var(--color1); 
}
/* For empty data field */
div:empty:before {
    content:attr(dataText);
    color:gray;
    font-style: italic;
  }

div#dl-page.page ul li {
  margin-bottom: 10px;
}


/* css for topic overview page */
.grid-item {
  border: solid var(--color1) 3px; 
  width: 100%;
  border-radius: 20px;
}

.subtitle {
  color: var(--color4);
}

div#to-page {
  display: grid;
  width: 95%;
  gap: 15px 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "label label"
    "timegraph correlations"
    "documents documents";
}

div#to-page #label {
  grid-area: label;
  justify-self: center;
  text-align: center;
}

div#to-page #timegraph {
  grid-area: timegraph;
}

div#to-page #correlations {
  grid-area: correlations;
}

div#to-page #documents {
  grid-area: documents;
} 