:root {
  /* --color1: #ddd;
  --color1Dark: #ccc;

  --color2: #0066ff;
  --color3: #FFFFFF;
  --color4: #ccc;
  --color5: #777; */
  --color1: #a9bcd0;
  --color1Dark: #9dafc2;
  
  --color2: #58a4b0;
  --color2Light: #9de2ec;

  --color3: #F6F8FD;
  --color3Dark: #d8dbe2;

  --color4: #373f51;
  --color5: #1b1b1e;
  
  --negativeCorrelationColor: #df6060;
  --positiveCorrelationColor: var(--color2);
}




/* body { 
  font-family: Calibri, Verdana; 
  background-color: var(--color3); 
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

text { font-size: small; vertical-align: baseline; } */


.lightButton { 
  border: solid var(--color1) 2px;
  font-family: Calibri, Verdana, sans-serif;
  /* margin:0 2px 0 0;  */
  padding:7px 10px; 
  -webkit-user-select: none; -moz-user-select: none; user-select: none; -moz-border-radius: 4px; 
  border-radius: 4px;
  background: var(--color3); }

.lightButton:hover:enabled{
  background: var(--color1); 
}

.darkButton { 
  border: solid var(--color1Dark) 2px; 
  /* margin:0 2px 0 0;  */
  /* padding:7px 10px;  */
  -webkit-user-select: none; 
  -moz-user-select: none; 
  user-select: none; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  background: var(--color3); 
}

.labeledToggleButton {
  border: solid var(--color1);
  padding: 0px 10px;
  border-width: 2px;
  background: var(--color3);
}

.darkButton:hover:enabled{
  background: var(--color3Dark); 
}

#tabwrapper { 
  flex: 3; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  height: 100%;
}

#tooltip { 
  border: solid var(--color1) 2px; 
  margin: 0 2px 0 0; 
  padding: 7px 10px; 
  border-radius: 4px; 
  background: var(--color3); 
  position: absolute; 
  z-index: 10; 
  visibility: hidden; 
}


/* LDAModel.js */
div.document {
  font-family: Alegreya, Georgia, Times, sans-serif; margin: 20px; padding: 10px; }


/* For empty data field */
div:empty:before {
    content:attr(dataText);
    color:gray;
    font-style: italic;
}


/* css for topic overview page */
.grid-item {
  border: solid var(--color1) 3px; 
  width: 100%;
  border-radius: 20px;
}

.subtitle {
  color: var(--color4);
}

div#to-page {
  display: grid;
  width: 95%;
  gap: 15px 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "label label"
    "timegraph correlations"
    "documents documents";
}

div#to-page #label {
  grid-area: label;
  justify-self: center;
  text-align: center;
}

div#to-page #timegraph {
  grid-area: timegraph;
}

div#to-page #correlations {
  grid-area: correlations;
}

div#to-page #documents {
  grid-area: documents;
} 